@{
    ViewBag.Title = "Home Page";
}

<div class="row bg-home">
    <div class="container m-t-110 welcome-message">
        <h1>
            WELCOME TO CLUB BAIST GOLF
        </h1>
        <p class="f-s-17">
            Enjoy the fun of golfing at your convenience<br />
            and around your family and friends...
        </p>
        <p class="f-s-17">Sign up today or Login to access our services</p>
        <p>
            <a href="/account/register" class="btn btn-primary btn-spacious m-r-10">SIGN UP</a> 
            <a href="/account/login" class="btn btn-default btn-spacious">LOGIN</a>
        </p>
    </div>
</div>